<header class="st_header d-md-block">

  <div class="top_header bg_000  d-md-block">
    <ul class="nav top-details justify-content-end pr-5">
      <!-- <li class="nav-item">
        <a class="nav-link  active" (click)="routeTo('REGISTRATION')"  translate>Become a Supplier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0 active">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " (click)="routeTo('REGISTRATION')"  translate>Become a driver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0 active">|</a>
      </li> -->
      <li class="nav-item1" *ngIf="!isIndia">
        <a class="nav-link "><i class="fa fa-phone" aria-hidden="true"></i> Call us: +41 775256873</a>
      </li>
      <li class="nav-item1" *ngIf="isIndia">
        <a class="nav-link "><i class="fa fa-phone" aria-hidden="true"></i> Call us: +91  9962239126</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0 active">|</a>
      </li>
      <li class="nav-item2 dropdown">
        <a class="nav-link language-dropdown dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"
            aria-hidden="true"></i> Language</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="switchLanguage('en')" style="color: white" translate> <img
              src="../assets/img/flag/united-kingdom-flag-icon.png" alt="taxideal icon" class="lang_image" /> English</a>
          <a class="dropdown-item" (click)="switchLanguage('gr')" style="color: white" translate> <img
              src="../assets/img/flag/germany-flag-icon.png" alt="taxideal icon" class="lang_image" /> German</a>
          <a class="dropdown-item" (click)="switchLanguage('fr')" style="color: white" translate> <img
              src="../assets/img/flag/france-flag-icon.png" alt="taxideal icon" class="lang_image" /> French</a>
          <a class="dropdown-item" (click)="switchLanguage('it')" style="color: white" translate> <img
              src="../assets/img/flag/italy-flag-icon.png" alt="taxideal icon" class="lang_image" /> Italian</a>
          <a class="dropdown-item" (click)="switchLanguage('es')" style="color: white" translate> <img
              src="../assets/img/flag/spain-flag-icon.png" alt="taxideal icon" class="lang_image" /> Spanish</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <!-- <a class="nav-link " href="#"><i class="fa fa-globe" aria-hidden="true"></i> English</a> -->
        <a class="nav-link language-dropdown dropdown-toggle" data-toggle="dropdown">
          <img [src]="imagePath" alt="taxideal" />
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="switchLanguage('en')" style="color: white" translate> <img
              src="../assets/img/flag/united-kingdom-flag-icon.png" alt="taxideal icon" class="lang_image" /> English</a>
          <a class="dropdown-item" (click)="switchLanguage('gr')" style="color: white" translate> <img
              src="../assets/img/flag/germany-flag-icon.png" alt="taxideal icon" class="lang_image" /> German</a>
          <a class="dropdown-item" (click)="switchLanguage('fr')" style="color: white" translate> <img
              src="../assets/img/flag/france-flag-icon.png" alt="taxideal icon" class="lang_image" /> French</a>
          <a class="dropdown-item" (click)="switchLanguage('it')" style="color: white" translate> <img
              src="../assets/img/flag/italy-flag-icon.png" alt="taxideal icon" class="lang_image" /> Italian</a>
          <a class="dropdown-item" (click)="switchLanguage('es')" style="color: white" translate> <img
              src="../assets/img/flag/spain-flag-icon.png" alt="taxideal icon" class="lang_image" /> Spanish</a>
        </div>
      </li>
    </ul>
  </div>
  <a class="d-md-inline-block d-sm-none d-xs-none float-left pl-5 py-2" (click)="routeTo('SEARCH')">
    <img class="d-inline-block st_logo" src="assets/img/logo.png" alt="taxideal logo"/>
  </a>
  <ul class="st_nav_menu nav d-none d-md-flex justify-content-end pr-5 py-2 mt-1">
    <li class="nav-item">
      <a class="nav-link" (click)="routeTo('SEARCH')" translate>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="routeTo('REGISTRATION')" translate>Partners</a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" translate>Supports</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" (click)="routeTo('CONTACT')" translate>Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="routeTo('HELPS')" translate>Help</a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link " href="http://taxideals.ch/tourist/" target="_blank" translate>Tourist</a>
    </li>-->
    <li class="nav-item st_auth">
      <a class="nav-link d-inline-block pr-1" (click)="routeTo('SIGNIN')" translate>Login</a>
      <a class=" d-inline-block px-0">&</a>
      <a class="nav-link d-inline-block pl-1" (click)="routeTo('REGISTRATION')" translate>Signup</a>
    </li>
  </ul>
</header>

<header class="st_header d-md-none d-block">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="d-inline-block float-left py-2" (click)="routeTo('SEARCH')">
      <img class="d-inline-block st_logo" src="assets/img/logo.png" alt="taxideal logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" (click)="routeTo('SEARCH')" translate>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" translate>Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" translate>Supports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="routeTo('CONTACTS')" translate>Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="routeTo('HELPS')" translate>Help</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " href="http://taxideals.ch/tourist/" target="_blank" translate>Tourist</a>
        </li>-->
        <li class="nav-item st_auth">
          <a class="nav-link d-inline-block  pr-1" (click)="routeTo('SIGNIN')" translate>Login</a>
          <a class="nav-link d-inline-block px-0">&</a>
          <a class="nav-link d-inline-block pl-1" (click)="routeTo('REGISTRATION')" translate>Signup</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
