.contact_form .form-group{
    margin-bottom: 30px;
}
.contact_form .card-body{
    box-shadow: 0 0 6px 0 #ccc;
    padding: 30px;
    margin-top: 50px;
}
.contact_form .text-center:hover{
    color: #f24444;
    border: #f2c144;

}
.account_yet {
    display: inline;
}
.login_logo {
    width: 330px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}
