.login_form .form-group{
    margin-bottom: 30px;
}
.login_form .card-body{
    background-color: #fff;
    box-shadow: 0 0 6px 0 #ccc;
    padding: 30px;
    margin-top: 68px;
}
.login_form .text-center:hover{
    color: #f24444;
    border: #f2c144;

}
.account_yet {
    display: inline;
}
.login_logo {
    width: 330px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

.login_form .text-center :hover u{
    color: #f24444
}
/* .forgotForm .form-control{

    color: #98f123;
	background-color: #f2c144;
	border-color: #f2c144;

} */
