body {
  float: left;
  width: 100%;
}

img {
  max-width: 100%;
}

.mt15 {
  margin-top: 15px;
}

.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.rating-star {
  line-height: 36px;
}

.rating-star span {
  padding-right: 3px;
}

.goHomeBtn {
  cursor: pointer;
  position: absolute !important;
  right: 0;
  top: -15px;
}

.comment-area {
  margin-bottom: 0;
}

.msg-area {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.msg-item {
  float: left;
  width: 100%;
  margin: 3px 0;
}

.msg-item .user-name {
  padding-right: 10px;
}

.msg-text {
  color: #555;
}

.comment-footer {
  display: flex;
  background-color: #e5e5e5;
  padding: 15px;
  border-radius: 0 0 0.25rem 0.25rem;
}

.comment-footer .btn {
  margin-left: 15px;
  height: 42px;
  font-weight: bold;
}

.rating {
  display: block;
  background-color: #e5e5e5;
  padding: 15px 15px 0;
}

.rating * {
  display: inline-block;
}

.rating-text {
  padding-right: 10px;
}

.rating-star {
  line-height: 20px;
}

.my-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-area .tab-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.search-area .nav-tabs {
  border: none;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.search-area .nav-tabs .nav-item {
  display: inline-block;
}

.search-area .nav-tabs .nav-link {
  border: none;
  border-radius: 5px;
}

.search-area .table-responsive {
  margin-top: 15px;
}

.boxes.search-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.driver-info {
  margin: 5px 0;
}

.driver-info .titleInfo {
  font-weight: bold;
}

.downloadAppContainer {
  width: 100%;
  padding: 0;
  min-height: auto;
  position: relative;
  background-color: #222;
  color: #fff;
}

.downloadAppContainer .appPicture,
.downloadAppContainer .appText {
  width: 50%;
  min-height: 650px;
  position: relative;
  float: left;
}

.downloadAppContainer .appPicture .position,
.downloadAppContainer .appText .position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.downloadAppContainer .appPicture .pictureWrapper {
  left: 40%;
  max-width: 400px;
}

.downloadAppContainer .appPicture .pictureWrapper img {
  width: 100%;
}

.sloganContainer {
  width: 100%;
  min-height: 300px;
  padding: 90px 0;
}

.sloganContainer .captions {
  text-align: left;
  padding-left: 50px;
  position: relative;
}

.sloganContainer .captions:before {
  position: absolute;
  top: 0;
  left: 50px;
  bottom: 0;
  width: 10px;
  height: 180px;
  background-color: #f2c144;
}

.sloganContainer .captions h1.title {
  color: #4b4848;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.sloganContainer .captions h2.title {
  color: #757171;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 28px;
}

.page-footer {
  margin-top: 30px;
  background-color: #f9a825;
}

.page-footer .footer-copyright {
  padding: 15px;
}

.form-btn {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 0px solid #9e9e9e;
}

.form-btn .btn {
  min-width: 100px;
}

.toast {
  background-color: green;
}

.toast-error {
  background-color: red;
}

@media only screen and (max-width: 992px) {
  .navbar.navbar-dark .navbar-collapse {
    position: fixed;
    top: 64px;
    right: -200px;
    width: 120px;
    transition: all 0.3s ease;
    background-color: #444444;
    height: calc(65vh - 64px) !important;
    display: block !important;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }

  .navbar.navbar-dark .navbar-collapse ul a {
    color: #fff;
  }

  .navbar.navbar-dark .navbar-collapse ul .dropdown-toggle {
    color: #fff;
  }

  .navbar.navbar-dark .navbar-collapse.in {
    right: 0;
  }

  .navbar.navbar-dark .navbar-collapse ul.dropdown {
    position: fixed;
    right: 80px;
    top: 0;
  }
}

/* You can add global styles to this file, and also import other style files */
.width100 {
  width: 100% !important;
}

.content-wrapper {
  min-height: 300px;
  z-index: 800;
  -webkit-transition: -webkit-transform 0.3s ease-in-out,
    margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 200px;
  margin-top: 70px;
}

.login-form-control {
  border: 0;
  border-bottom: 1px solid #ff8e2d;
}

.text-center {
  text-align: center;
}

/*.text-color{
    color: #000;
} */
.login_logo {
  text-align: center;
  width: 100%;
  margin-bottom: 28px;
}

.header_bg {
  /*background-color: #444 !important;*/
  background-color: #fff !important;
  margin-bottom: 15px;
}

.boxes {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 6px 0 #ccc;
}

.padd0 {
  padding: 0 !important;
}

.card {
  background-color: #fff;
  border: 0 !important;
  border-radius: 4px;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
  color: #000;
  display: inline-block;
  margin-bottom: 10px;
  padding: 15px 18px;
  position: relative;
  width: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.21) !important;
  color: #252422;
  position: relative;
}

.card .card-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.card .card-content {
  padding: 2px 0;
  position: relative;
  text-align: left;
}

.ng-sidebar {
  background: red;
  width: 13rem;
}

.ng-sidebar--left {
  color: red !important;
  background: antiquewhite;
  width: 12rem;
}

.alert-animate.alert-success {
  /* background: #00bcd3; */
  background: rgba(95, 186, 125, 0.9);
  color: #fff;
  border-color: #5fba7d;
  z-index: 999999;
}

.alert-danger {
  background: rgba(251, 210, 209, 0.9);
  border-color: #de9d9b;
}

.alert-info {
  color: #fff;
  background: rgba(91, 192, 222, 0.9);
  border-color: #5bc0de;
}

.alert-animate.alert-danger {
  z-index: 999999;
}

.alert-animate .close {
  color: #fff;
  opacity: 1;
}

.alert-animate {
  position: fixed;
  top: 5px;
  left: auto;
  right: 5px;
  z-index: 999999;
}

.alert-animate {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.alert.manual-alert {
  box-shadow: 0 0 5px #e5e5e5;
  border: 2px solid #d4cdcd;
  margin-top: 15px;
}

.alert {
  position: absolute !important;
}

.hideloader .customloader {
  display: none !important;
  background: none !important;
}
.showloader.customloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/loading.gif") 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 0.8;
}
img {
  max-width: 100%;
}

.mt15 {
  margin-top: 15px;
}

.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.rating-star {
  line-height: 36px;
}

.rating-star span {
  padding-right: 3px;
}

.goHomeBtn {
  cursor: pointer;
  position: absolute !important;
  right: 0;
  top: -15px;
}

.comment-area {
  margin-bottom: 0;
}

.msg-area {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.msg-item {
  float: left;
  width: 100%;
  margin: 3px 0;
}

.msg-item .user-name {
  padding-right: 10px;
}

.msg-text {
  color: #555;
}

.comment-footer {
  display: flex;
  background-color: #e5e5e5;
  padding: 15px;
  border-radius: 0 0 0.25rem 0.25rem;
}

.comment-footer .btn {
  margin-left: 15px;
  height: 42px;
  font-weight: bold;
}

.rating {
  display: block;
  background-color: #e5e5e5;
  padding: 15px 15px 0;
}

.rating * {
  display: inline-block;
}

.rating-text {
  padding-right: 10px;
}

.rating-star {
  line-height: 20px;
}

.my-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-area .tab-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.search-area .nav-tabs {
  border: none;
  display: inline-block;
  width: 100%;
  text-align: right;
}

.search-area .nav-tabs .nav-item {
  display: inline-block;
}

.search-area .nav-tabs .nav-link {
  border: none;
  border-radius: 5px;
}

.search-area .table-responsive {
  margin-top: 15px;
}

.boxes.search-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.driver-info {
  margin: 5px 0;
}

.driver-info .titleInfo {
  font-weight: bold;
}

.downloadAppContainer {
  width: 100%;
  padding: 0;
  min-height: auto;
  position: relative;
  background-color: #222;
  color: #fff;
}

.downloadAppContainer .appPicture,
.downloadAppContainer .appText {
  width: 50%;
  min-height: 650px;
  position: relative;
  float: left;
}

.downloadAppContainer .appPicture .position,
.downloadAppContainer .appText .position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.downloadAppContainer .appPicture .pictureWrapper {
  left: 40%;
  max-width: 400px;
}

.downloadAppContainer .appPicture .pictureWrapper img {
  width: 100%;
}

.sloganContainer {
  width: 100%;
  min-height: 300px;
  padding: 90px 0;
}

.sloganContainer .captions {
  text-align: left;
  padding-left: 50px;
  position: relative;
}

.sloganContainer .captions:before {
  position: absolute;
  top: 0;
  left: 50px;
  bottom: 0;
  width: 10px;
  height: 180px;
  background-color: #f2c144;
}

.sloganContainer .captions h1.title {
  color: #4b4848;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.sloganContainer .captions h2.title {
  color: #757171;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 28px;
}

.page-footer {
  margin-top: 30px;
  background-color: #f9a825;
}

.page-footer .footer-copyright {
  padding: 15px;
}

.form-btn {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 0px solid #9e9e9e;
}

.form-btn .btn {
  min-width: 100px;
}

.toast {
  background-color: green;
}

.toast-error {
  background-color: red;
}

@media only screen and (max-width: 992px) {
  .navbar.navbar-dark .navbar-collapse {
    position: fixed;
    top: 64px;
    right: -200px;
    width: 120px;
    transition: all 0.3s ease;
    background-color: #444444;
    height: calc(65vh - 64px) !important;
    display: block !important;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }

  .navbar.navbar-dark .navbar-collapse ul a {
    color: #fff;
  }

  .navbar.navbar-dark .navbar-collapse ul .dropdown-toggle {
    color: #fff;
  }

  .navbar.navbar-dark .navbar-collapse.in {
    right: 0;
  }

  .navbar.navbar-dark .navbar-collapse ul.dropdown {
    position: fixed;
    right: 80px;
    top: 0;
  }
}

/* You can add global styles to this file, and also import other style files */
.width100 {
  width: 100% !important;
}

.content-wrapper {
  min-height: 300px;
  z-index: 800;
  -webkit-transition: -webkit-transform 0.3s ease-in-out,
    margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 216px;
  margin-top: 60px;
}

.login-form-control {
  border: 0;
  border-bottom: 1px solid #ff8e2d;
}

.text-center {
  text-align: center;
}

/*.text-color{
    color: #000;
} */
.login_logo {
  text-align: center;
  width: 100%;
  margin-bottom: 28px;
}

.header_bg {
  /*background-color: #444 !important;*/
  background-color: #fff !important;
  margin-bottom: 15px;
}

.boxes {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 6px 0 #ccc;
}

.padd0 {
  padding: 0 !important;
}

.card {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
  color: #000;
  display: inline-block;
  margin-bottom: 10px;
  padding: 15px 18px;
  position: relative;
  width: 100%;

  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  color: #252422;
  position: relative;
}

.card .card-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.card .card-content {
  padding: 2px 0;
  position: relative;
  text-align: left;
}

.ng-sidebar {
  background: red;
  width: 13rem;
}

.ng-sidebar--left {
  color: red !important;
  background: antiquewhite;
  width: 12rem;
}

.alert-animate.alert-success {
  /* background: #00bcd3; */
  background: rgba(95, 186, 125, 0.9);
  color: #fff;
  border-color: #5fba7d;
  z-index: 999999;
}

.alert-danger {
  background: rgba(251, 210, 209, 0.9);
  border-color: #de9d9b;
}

.alert-info {
  color: #fff;
  background: rgba(91, 192, 222, 0.9);
  border-color: #5bc0de;
}

.alert-animate.alert-danger {
  z-index: 999999;
}

.alert-animate .close {
  color: #fff;
  opacity: 1;
}

.alert-animate {
  position: fixed;
  top: 5px;
  left: auto;
  right: 5px;
  z-index: 999999;
}

.alert-animate {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.alert.manual-alert {
  box-shadow: 0 0 5px #e5e5e5;
  border: 2px solid #d4cdcd;
  margin-top: 15px;
}

.alert {
  position: absolute !important;
}
.navbar-menu ul a {
  color: #000 !important;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.h-24 {
  height: 24px;
}

.bg_000 {
  background-color: #000;
}

.bg_grey {
  background-color: #f2f2f2;
}

.color_fff {
  color: #fff;
}

.all_h5 {
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 20px;
  color: #febc21;
  padding: 0 0 10px 0px;
}

.top_header a {
  color: #fff !important;
  font-size: 13px;
}

.dropdown-footer a,
.dropdown-menu .dropdown-item {
  color: #000 !important;
}

.st_nav_menu a {
  color: #000;
}

.st_auth {
  background: rgb(254, 188, 33);
  border-radius: 4px;
  height: 35px;
  margin-top: 2px;
}

.st_auth a {
  padding-top: 4px;
  padding-bottom: 4px;
}

.st_logo {
  width: 216px;
}

.st_banner .carousel-item {
  height: 580px;
}

.st_banner .carousel-indicators {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.st_banner .carousel-indicators li {
  width: 8px;
  height: 8px;
  margin-top: 8px;
  background-color: rgb(254, 188, 33);
  border-radius: 8px;
}

.st_banner .carousel-indicators li.active {
  width: 22px;
  height: 22px;
  border-radius: 16px;
  margin-top: 0;
  background-color: #fff;
}

.taxiideals_box h4 {
  font-size: 20px;
  font-family: "OpenSans-Semibold";
  color: #000;
}

.taxiideals_box p {
  font-size: 14px;
  line-height: 26px;
  font-family: "OpenSans-Regular";
  color: #808080;
}

.st_footer {
  background: rgb(254, 188, 33);
}

.taxibenefits_box span {
  width: 59px;
  height: 59px;
  border-radius: 30px;
  background-color: rgb(254, 188, 33);
  display: inline-block;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-family: "OpenSans-Bold";
  line-height: 60px;
}

.td_offer_more {
  background: rgb(254, 188, 33);
  padding: 4px 12px;
  display: inline-block;
  color: #000;
  border-radius: 50px;
}

.td_enquiry {
  background: rgb(254, 188, 33);
  padding: 4px 6px;
  display: inline-block;
  color: #000;
  border-radius: 4px;
}

.texideal_offers_btn {
  color: #000;
  background: #e1e1e1;
}

.texideal_venders_box .card-body {
  position: relative;
}

.td_venders_img {
  position: absolute;
  top: -18px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #fab920;
  border-radius: 40px;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.testimonial_box {
  border-radius: 300px;
  border: 1px solid #dcdada;
  box-shadow: 0px 0px 13px 1px #eee;
}

.testimonial_box i {
  color: #cacaca;
  font-size: 40px;
  display: inline-block;
  padding-right: 10px;
}

.testimonial_box i.fa-quote-right {
  position: absolute;
  padding-left: 10px;
}

.testimonial_box h6 {
  color: rgb(254, 188, 33);
}

.sec_testimonial .carousel-indicators li {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 8px;
  background-color: #dcdada;
  margin-top: 8px;
}

.sec_testimonial .carousel-indicators li.active {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin-top: 0;
  background-color: rgb(254, 188, 33);
}

.notroles_box img {
  width: 70px;
  display: inline-block;
}

.footer_nav a {
  display: block;
  color: #000;
  padding-bottom: 8px;
}

.footer_social p.sl i {
  text-align: center;
  padding-right: 8px;
  font-size: 22px;
  padding-top: 10px;
}

.footer_social p.cl {
  font-size: 16px;
  font-weight: bold;
}

.footer_social p.cl i {
  border: 1px solid #000;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 21px;
}

.footer-form input {
  border: 0px;
  border-bottom: 2px solid #000;
  padding: 6px;
  width: 100%;
  background-color: transparent;
}

.footer-form i {
  position: absolute;
  right: 2px;
  top: 15px;
}

.st_footer_bottom a {
  color: #000;
  padding-left: 16px;
}

.search_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.seach_form {
  background-color: #fff;
  border-radius: 4px;
}

.seach_form input,
.seach_form select {
  border: 0px solid;
  border-bottom: 1px solid #cacaca;
  border-radius: 0;
  height: 28px;
  color: #756969;
  font-size: 14px;
}

.seach_form select {
  color: #000;
}

.seach_form label {
  color: #838282;
  font-size: 14px;
}

.seach_form .s_b_m {
  cursor: pointer;
}

.search_box_menu {
  border-bottom: 1px solid #cacaca;
}

.st_auth_header {
  position: fixed;
  z-index: 99;
}

/* ------========== Global section ==========--------- */

/* ------========== responsive section ==========--------- */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .notroles_box img {
    width: 43px;
  }

  .st_banner .carousel-item {
    height: 508px;
  }

  .st_nav_menu a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .st_banner .carousel-item {
    height: 380px;
  }
}

@media screen and (max-width: 575px) {
  .st_banner .carousel-item {
    height: 280px;
  }

  .search_box {
    position: relative;
    top: 0;
  }

  .st_auth {
    width: 250px;
    text-align: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #989898;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #febc21;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.custom-modal .modal-header {
  padding: 10px 15px;
  background: #141820;
  color: #fff;
}
.custom-modal .modal-header .close {
  text-shadow: none;
  color: #fbf4f4;
  opacity: 1;
}
.custom-modal .modal-header h4 {
  font-size: 18px;
}
.custom-modal .pagination {
  margin-bottom: 0px;
}
.customloader {
  position: absolute;
  background: rgb(218 218 218);
  opacity: 0.8;
  text-align: center;
  width: calc(100% - 250px );
  min-height: 269px;
  padding-top: 90px;
}
.hideloader .customloader {
  display: none !important;
  background: none !important;
}

.loader-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.loader-overlay:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background: url('../img/loading.gif') 50% 50% no-repeat transparent;
  content: '';
  padding: 40px;
  z-index: 9999;
}
