.seach_form {
  padding: 0;


  .seach_form input {
    padding: 0 !important;
  }

  .card-deck {
    margin: 0 0 10px 0 !important;
    width: 100%;

    .card {
      display: flex;
      flex: 1 0 0%;
      flex-direction: column;
      padding: 10px 15px;
      margin: 0px 0 5px 0;
      border-radius: 0;

      .tab-content {
        width: 100%;
        padding-top: 12px;

        .form-group {
          padding-right: 20px;
          padding-left: 20px;
          position: relative;

          .seach_form input{
            border: 0px solid;
            border-bottom: 1px solid #cacaca;
            border-radius: 0;
            height: 28px;
            color: #756969;
            font-size: 14px;
            padding-left: 0 !important;
        }

          .form-control:focus {
            border-color: #febc21;
          }

          label {
            margin-bottom: 8px !important;
            border-color: #D4D4D4;
            color: #8b8b8b;
            font-size: 12px;
            font-family: 'OpenSans-Regular';
            text-transform: uppercase;
            background: transparent;
            margin-bottom: 0 !important;
          }

          .det {
            margin-bottom: 8px !important;
            border-color: #D4D4D4;
            color: #000;
            font-size: 12px;
            font-family: 'OpenSans-Regular';
            text-transform: uppercase;
            background: transparent;
            margin-bottom: 0 !important;
          }

          img.locate-icon {
            position: absolute;
            bottom: 10px;
            right: 22px;
            height: 22px;
            width: 15px;
          }
        }
      }
    }
  }
}

.search_box_con .btn {
  background: #febc21;
  border: 1px solid #febc21;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-family: 'OpenSans-SemiBold';

  &:hover {
    background: #dc9e0c;
    border: 1px solid #dc9e0c;
  }

  &:active {
    background: #dc9e0c;
    border: 1px solid #dc9e0c;
  }

  &:focus {
    background: #dc9e0c;
    border: 1px solid #dc9e0c;
    box-shadow: none;
  }
}

p.cancel.text-center {
  width: 100%;
  color: #000;
  font-size: 14px;
  font-family: 'OpenSans-Regular';
  margin-top: 5px;
}

.display {
  margin-right: -1px;
  margin-left: 0;

  .nav-tabs {
    width: 100%;
    background: #febc21;
  }

  .nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding-bottom: 0;
  }

  .nav-tabs .active {
    color: #000;
    border: 0;
    background: #fff;
    border-radius: 0;
    border: 1px solid #febc21;
  }

  .nav-item {
    color: #000;
    font-size: 14px;
    font-family: 'OpenSans-SemiBold';
    width: 50%;
    text-align: center;
  }

  .nav-item a {
    color: #000;
    border: 0;
    padding: 15px 0;
  }

  .col-md-4.form-group {
    display: inline-block;

  }

  a:hover {
    outline: 0;
    text-decoration: none;
  }

  .s_b_m {
    font-family: 'OpenSans-SemiBold';
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    padding: 0;

    a:hover {
      color: #fff;
    }

    a.active:hover {
      color: #000;
    }
  }
}

.tabslide {
  padding-top: 43px;
}

.cardetails {
  .card-deck {
    margin: 0 0 10px 0 !important;
    width: 100%;

    .card {
      display: flex;
      flex: 1 0 0%;
      flex-direction: column;
      padding: 10px 15px;
      margin: 15px 0 5px 0;

      .profile {
        float: left;
      }

      .icon {
        border: 1px solid;
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }

      .travelcontent {
        padding-left: 100px;

        .card-card {


          .name {
            font-family: 'OpenSans-SemiBold';
            color: black;
            font-size: 14px;
            margin-bottom: 0;
            padding: 0;
          }

          .name1 {
            font-size: 12px;
            float: right;
            margin-bottom: 0;
          }
        }
      }

      .card-body {

        padding: 0;

        .name2 {
          padding: 0px 0px 0px 5px;
          font-size: 10px;
          margin-bottom: 0;
        }

        .iconstar {
          width: 75px;
        }
      }

      .lable {
        margin-bottom: 0;

        .name3 {
          font-family: 'OpenSans-SemiBold';
          color: black;
          font-size: 14px;
          margin-bottom: 0;

        }

        .iconn {
          margin: 0 15px 0 0;
          float: right;
        }

        .iconwifi {
          width: 20px;
        }

        .icontaxi {
          width: 20px;
        }

        .iconrupee {
          width: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.form-row {
  margin: 0;
}

#nav-profile {
  agm-map {
    height: 608px;
  }
}

.review {
  .card-text {
    height: 19px;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    padding-left: 10px;
  }

  .card-text1 {
    height: 19px;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
  }

  .card-text2 {
    height: 19px;
    font-family: 'OpenSans-Bold';
    font-size: 16px;
    text-decoration: underline;
  }

  .card-text3 {
    height: 19px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    padding-left: 10px;
  }

  .carreview {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 20px;

    .point {
      padding: 0;

      .iconstar {
        width: 100px !important;
      }

      .rate {
        padding: 0 0 0 10px;
      }
    }
  }

  .card-body {
    .icontaxi {
      width: 50px;
      height: 50px;
      border: 1px solid;
      border-radius: 50%;
    }

    .iconstar {
      width: 80px;
    }
  }

  p {
    font-family: 'OpenSans-Regular';
    font-size: 14px;

  }

}

@media (max-width: 767px) {
  .card-detail-page
  {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .seach_form {
    .card-deck {
      .card {

        .tab-content {
          .form-group {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
.card-detail-page
{
  .cardetails {
    .card-deck {
      .card {
padding: 10px!important;
        .lable {
          .icontaxi {
            width: 17px;
            padding: 7px 0 0 0;
          }

          .iconwifi {
            width: 17px;
            padding: 7px 0 0 0;
          }

          .iconrupee {
            width: 8px;
            margin-bottom: 0;
            padding: 7px 0 0 0;
          }

          .name3 {
            font-size: 14px;
          }
        }

        .icon {
          width: 60px;
          height: 60px;
          margin-top: 6px;
        }

        .travelcontent {
          padding-left: 72px;


          .card-card {
            .name {
              height: 11px;
    font-size: 13px;
    padding-top: 0px;
            }

            .name1 {
              font-size: 11px;
              padding: 0;
              float: left;
              text-align: left!important;
            }
          }

        }
      }
    }
  }
}
  h3 {
    font-size: 20px;
  }

  .review {
    p {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .card-text2{
      font-size: 15px;
  }
    .card-text3 {
      font-size: 13px;
    }

    .carreview {
      padding-bottom: 10px !important;

      .point {
        .rate {
          font-size: 13px;
        }
      }
    }
  }

  .card-text2 {
    font-size: 15px;
  }

  .card-body {
    padding: 10px;
    

    .iconstar {
      width: 60px !important;
    }

    .icontaxi {
      width: 45px;
      height: 45px;
    }

    .name2 {
      padding: 0px 0 0 3px !important;
      font-size: 9px !important;
    }
  }

  .cancel {
    margin: 0;
  }

  #nav-profile agm-map {
    height: 504px;
  }

  .tabslide {
    margin-bottom: 15px;
  }
}


.seach_form input
{
padding-left: 0;
}
.card-detail-page
{
  .form-group
  {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .card-deck
  {
    .card
    {
      padding: 22px!important;
    }
    }
  
}
@media(max-width:767px) and (min-width:576px)
{
  .card-detail-page .cardetails .card-deck .card .travelcontent .card-card .name1 {
 
    text-align: right !important;
}
}
